:root {
    --one: 1px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background: #121212 url("/background.jpg") repeat top left;
}


.container {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.container p {
    color: #FEFEFE;
    text-align: center;
    font-size: 14vh;
    margin: -1vh;
    user-select: none;
}

.container .cursive {
    font-family: "Bulletto Killa", serif;
    font-size: 5vh;
    margin: 1.4vh;
}

.container .stage, .container .time, .container .divider p {
    font-family: "Intro", serif;
}

.container .inline {
    font-family: "Intro Inline", serif;
}

.container .yellow {
    color: #FEE440;
}

.container .orange {
    color: #EB5E28;
}

.container .divider {
    position: relative;
}

.container .divider div {
    position: absolute;
    background-color: #FEFEFE;
    width: 12vh;
    height: 2.1vh;
    top: 5.8vh;
}

.container .divider .box-right {
    right: 0;
}

@font-face {
    font-family: "Bulletto Killa";
    src: url("./Bulletto Killa.ttf") format('truetype');
}

@font-face {
    font-family: "Intro";
    src: url("./Intro.otf") format('opentype');
}

@font-face {
    font-family: "Intro Inline";
    src: url("./Intro\ Inline.otf.otf") format('opentype');
}

/* @font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('Nanum Barun Gothic'), local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
    src: url(./NanumBarunGothic.eot);
    src: url(./NanumBarunGothic.eot?#iefix) format('embedded-opentype'), url(./NanumBarunGothic.woff) format('woff'), url(./NanumBarunGothic.ttf) format('truetype');
} */